<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HR_Job_Requirements.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <HR_Job_Requirements.My.MySettings>
            <setting name="MPSServer" serializeAs="String">
                <value>10.251.10.21</value>
            </setting>
            <setting name="MPSUsuario" serializeAs="String">
                <value>sa</value>
            </setting>
            <setting name="MPSContraseña" serializeAs="String">
                <value>martinrea</value>
            </setting>
            <setting name="MPSBD" serializeAs="String">
                <value>MarsTest</value>
            </setting>
            <setting name="CB_CODIGO" serializeAs="String">
                <value>3205</value>
            </setting>
            <setting name="UPGRADEREQUIRED" serializeAs="String">
                <value>TRUE</value>
            </setting>
            <setting name="Usuario" serializeAs="String">
                <value />
            </setting>
        </HR_Job_Requirements.My.MySettings>
    </userSettings>
</configuration>