<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Administracion_de_talento.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <Administracion_de_talento.My.MySettings>
            <setting name="MPSServer" serializeAs="String">
                <value />
            </setting>
            <setting name="MPSUsuario" serializeAs="String">
                <value />
            </setting>
            <setting name="MPSContraseña" serializeAs="String">
                <value />
            </setting>
            <setting name="MPSBD" serializeAs="String">
                <value />
            </setting>
            <setting name="CB_CODIGO" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UPGRADEREQUIRED" serializeAs="String">
                <value>TRUE</value>
            </setting>
            <setting name="Usuario" serializeAs="String">
                <value />
            </setting>
            <setting name="TRESSServer" serializeAs="String">
                <value />
            </setting>
            <setting name="TRESSUsuario" serializeAs="String">
                <value />
            </setting>
            <setting name="TRESSContraseña" serializeAs="String">
                <value />
            </setting>
            <setting name="TressBD" serializeAs="String">
                <value />
            </setting>
            <setting name="Id_user" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Puesto" serializeAs="String">
                <value />
            </setting>
            <setting name="Hab_req" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="Hab_rel" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="Hab_pond" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="Hab_nivreq" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Con_req" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="Com_req" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="Con_rel" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="Com_rel" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="Con_pond" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="Com_pond" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="Con_nivreq" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Com_nivreq" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Cur_req" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="Cur_rel" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="Cur_pond" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="Cur_nivreq" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AlarmaIdp" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MostrarIdp" serializeAs="String">
                <value>False</value>
            </setting>
        </Administracion_de_talento.My.MySettings>
    </userSettings>
</configuration>